<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewdrop</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <header>
        <div class="H-main">
            <div class="logo">Reviewdrop</div>
            <div class="menu">
                <ul>
                    <li>Home</li>
                    <li>Pricing</li>
                    <li>Fetures</li>
                    <li>Blogs</li>
                </ul>
                <button class="button-56">Contact Us</button>
            </div>
        </div>
    </header>
</body>

</html>