@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.menu {
    width: 15%;
    height: 100vh;
 
    border-right: 2px solid rgb(235, 235, 235);
}
.noteped{
    width: 50%;
    height: 100vh;
    border-right: 2px solid rgb(235, 235, 235);
}
.left-sidebar{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sec-1{
    padding: 20px 15px 0 15px;
}
.sec-2{
    padding: 0 10px 10px 10px !important;
}

.sec-1 .box{
    border-radius: 15px;
    border: 2px solid rgb(222, 222, 222);
    background-color: #f7f7f7;
    padding: 20px 10px;
}
.left-sidebar .sec-1{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.menu button {
    /* background-color: #2a9d8f; */
    background: linear-gradient(312deg, rgba(50,133,220,1) 34%, rgba(95,168,245,1) 71%, rgba(50,133,220,1) 99%);
    width: 100%;
    font-family: "Inter", sans-serif;
    border: none;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 12px 25px;
    border-radius: 60px;
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.75);
    transition: 4.7s;
    z-index: 0;
    overflow: hidden;
    transition: all 1.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;
    position: relative;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.menu button .fa-regular {
    color: aliceblue;
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.btn-shine span {
    z-index: 2;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.btn-shine:after {
    background: #e4e4e4;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
}
.left-menu{
    list-style: none;
    color: #606060;
    /* color: #969696; */
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.left-menu li svg{
    margin-left: 4px;
}
.left-menu li svg, i{
    color: #5c5c5c;
}

.left-menu li i{
    color: #6b6b6b;
    width: 10px;
    
}
.left-menu li div{
    margin-right: 15px;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5rem;
    letter-spacing: -0.6px;

    font-weight: 700;
    color: #2d2d2d;
}
.s-m-info, .title-pre{
    border-bottom: 2px solid rgb(235, 235, 235);
    padding: 15px 30px;
}
.device{
    font-family: "Noto Sans TC", sans-serif;
    color: #6e6e6e;
    font-weight: 500;
    font-size: .9rem;
}
.preview{
    width: 35%;
}
.title-pre{
    justify-content: space-between;
}
.device div{
    margin-left: 10px;
    column-gap: 20px;
}
.device div svg{
    margin-bottom: -3px;
}
.heading-pre{
    font-family: "poppins", sans-serif;
    font-size: 1.3rem;
    letter-spacing: -0.6px;

    font-weight: 600;
    color: #2d2d2d;
}